* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.ChatList {
    width: 25%;
    height: 100%;
    background: rgb(34, 54, 72);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
#header {
    width: 100%;
    height: auto;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(255, 0, 0, 0.383);
    gap: 10px;
}

#header h2 {
    width: 100%;
}
#header input {
    width: 75%;
    height: 40px;
    border-radius: 5px;
    background: rgb(48, 77, 103);
    color: white;
    border: 1px solid  rgb(63, 101, 134);
    padding: 0 10px;
}
#header input::placeholder {
    color: aliceblue;
}
/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
