.container {
    background: linear-gradient(135deg, #6e7dff, #4ac29c);
    width: 100vw;
    height: 100vh;
    color: #f4f5ff;
}
.home {
    width: 95%;
    height: 100%;
    /* border: 1px solid rgba(255, 255, 255, 0.278); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
}
#darker {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home-content {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
